
a{
    text-decoration: none;
    color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo img {
  height: 12vh;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px 45px;
  font-size: 25px;
}

nav ul li a {
  color: #FFE4B5;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
}

nav > ul > li:hover {
  background: linear-gradient(135deg, #ff00c3, #fff200); 
  border-radius: 8px;
  
}

nav > ul > li:hover a {
  color: white; 
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333; 
  display: none;
  list-style: none;
  margin: 0;
  padding: 5px 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 200px; 
  z-index: 10; 
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 20px; 
  color: #FFD700;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: #9b9b9b; 
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.cart-icon {
top: 120px;
right: 20px;
font-size: 3vh;
cursor: pointer;
display: flex;
align-items: center;
gap: 10px;
}

.cart-count {
background: #edb350;
color: white;
font-weight: bold;
border-radius: 50%;
padding:1px 8px;
}

.cart {
margin-top: 20px;
}

.cart-item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 10px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.fa-instagram{
    color: white;

}

.fa-facebook{
    color: white;
}

.gh{
    display: flex;
    justify-content: center;
}

.fa-facebook:hover{
    color: rgb(26, 26, 255);
    transition: 0.5s;
}

.fa-instagram:hover{
    color: blueviolet;
    transition: 0.5s;
}

.fa-phone{
    cursor: pointer;
}

.fa-phone:hover{
    color: red;
    transition: 0.5s;
}

.footer {
    background-color: #222;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .footer-nav {
    display: flex;
    gap: 5vw;
    margin: 10px 0;
  }
  
  .footer-nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 27px;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #FFE4B5;
  }
  
  .footer-social {
    display: flex;
    gap: 1.2vw;
  }
  
  .footer-copyright p {
    font-size: 12px;
    margin: 10px 0px 0px;
    opacity: 0.7;
    margin-left: 7vw;
  }

  @media (max-width: 768px) {
    nav{
        display: none;
    }
    header .logo img{
        height: 8vh;
        margin-left: 1vw;
    }
    header{
        padding: 3px 20px;
    }
    .checkbtn {
        display: block;
        float: center;
        margin-right: -30vw ;
        margin-top: 0px;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 91vh;
        background: #222;
        top: 9vh;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: -15vh;
    }

    nav ul li {
        margin: 20px 0px;
    }

    nav ul li a {
        font-size: 24px;
        padding: 15px;
        display: block;
        width: 100%;
        margin-left: -4vw;
    }

    nav > ul > li:hover {
      background: none; 
      border-radius: 0;
    }

    .dropdown:hover .dropdown-menu {
      display: none;
    }

    #check:checked ~ nav {
        left: 0;
    }
    body:has(#check:checked) {
      overflow: hidden;
  }

    .footer-container {
      flex-direction: column;
      align-items: center;
    }
    .footer-logo{
      margin-top: -15px;
    }
    .footer-nav {
      display: none;
    }
  
    .footer-social {
      margin: 10px 0;
      margin-top: -10px;
      margin-bottom: -5px;
      gap: 3vw;
    }

    .footer-social a {
      font-size: 13px;
    }

    .footer-copyright p {
      font-size: 12px;
      margin-left: 0vw;
      opacity: 0.7;
    }
}

  
